header{
<<<<<<< HEAD
  position:absolute;
  color: white;
  width: 100%;
  padding: 20px;
  z-index: 20;
}
header .logo{
  display: inline-block;


}
header nav{
  display:inline-block;
  float: right;
  text-align: right;
}
header nav a{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}
=======
    position:absolute;
    color: white;
    width: 100%;
    padding: 20px;
    z-index: 20;
  }
  header .logo{
    display: inline-block;
  
  
  }
  header nav{
    display:inline-block;
    float: right;
    text-align: right;
  }
  header nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
  }
  
>>>>>>> 65037d08bc0f7073754c2b10f4d8ee76a61db8f4
